*{
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.m-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2a73bd;
}
.list-elements1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.list-elements2 {
    margin-right: 20px;
}
.list-elements2:last-child {
    margin-right: 0;
}
.list-elements2 a {
    text-decoration: none;
    color: #333;
}
.list-elements2 a:hover {
    color: #000000;
}
.img-1 img {
    height: 50px;
}
.h1-img{
/* display: flex;
justify-content: center;
align-items: center; */
background-image: url('./cse home/img1.webp');
background-repeat: no-repeat;
background-size: cover;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    width: 50%;
    height: 50%;
}
.faculty{
display: flex;
margin-top: 40px ;
margin-left: 130px;
}
.blockcode1{
    margin-top: 14%;
}

.courses{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
}

.list-items{
    font-weight: bold;
    font-size: larger;
}
.list-items:hover{
    text-decoration: underline;
    /* color: white; */
    
}